<<<<<<< HEAD
body
{
    margin: inherit;
    padding: inherit;
}

main,
p,
a,
ul,
li 
{
  margin: 0;
  margin-left: 1em;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.header
{ 
    display: grid;
    grid-template-columns: 180px 700px 225px 108px;
    grid-auto-rows: minmax(100px, auto);
}
.logo
{
    padding: 12px;
}

.logo img
{
    order: 0;
    padding-top: 12px;
}

nav
{
    display: grid;
    grid-template-columns: 136px 88px;
    grid-column: 3;
    margin-top: 0px; 
    align-items: center;
    order: 1;
    
}

nav ul
{
    display: flex;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

nav li 
{
    margin: 0;
}

.lienheader:hover
{
    display: none;
}
    
.greyline 
{
    display: none;
}

.lienheader:hover
{
    border-top: #0065FC solid 4px;
    padding-top: 48px;
}

.lienheader[data-active="true"]
{
    color: #0065FC;
}

.lienheader[data-active="false"]
{
    color: black;
}

.lienheader

{
    text-decoration: none;
}

.signup
{
    
    display: flex;
    align-items: center;
    order: 2;
    color: #0065FC;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

main h1
{
    font-size: 25px;
}

/* Recherche */

.paragraphe
{ 
    line-height: 1px
}

.search
{
    height: 51px;
    width: 210px;
    padding-left: 13px;
    border: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.fa-map-marker-alt 
{
    padding: 16.5px 19px;
    width: 20px;
    background-color: #e5e2e267;
    border: 1px solid #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#searchbutton 
{
    display: none;
}

.recherche
{
    height: 49.5px;
    width: 110px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065fc;
    color: white;
    font-size: 16px;
    font-weight: 700;

}

.recherche:hover
{
    color: #0065fc;
    background-color: #deebff;
    border: 1px solid #0065fc;
    cursor: pointer;
}

.filtres
{
    display: flex;
    justify-content: flex-start;
    
}

#filtres h2
{
    display: flex;
    float: left;
    margin-right: 3%;
    line-height: 3;
    font-size: 1.2rem;
    width: 60px;
}

.diffilters
{
    display:flex;
    align-items: center;
    height:50px;
    font-size: 15px;
    font-weight:bolder;
    border-radius: 25px;
    border:2px solid #ccc;
    cursor: pointer;
    padding-right: 17px;
    margin-top: 30px;
    margin-right: 25px;
    
}

.diffilters i 
{
  display:flex;
  color: #0065fc;
  background-color: #DEEBFF;
  padding: 15px 11px;
  border-radius: 100%;
  height: 1.5rem;
  min-width: 2.2rem;
  align-items: center;
  justify-content: center;
  margin-left: -4px;
}

.buttonRecherche
{
    font-family: 'Raleway', sans-serif;
}

.information
{
    display: flex;
    width: 92%;
    margin-left: 10px;
}

.info
{
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}

.info div
{
    display: flex;
}
.icone
{
    padding: 10px 15px;
    border: solid 2px #f2f2f2;
    border-radius: 100%;
    color: #0065FC
}

/* herbergement */ 


main
{
    margin-left: 2em;
}

main figure:hover
{
    transform: scale(1.02);
}

.firstline figure 
{
    width: 100%;
    height: auto;
    background-color:var(--lightBlue);
    justify-content: center;
    padding-bottom:20px; 
}

.firstline figcaption
{
    margin-left: 10px; 
}

.firstline img
{
    height: 7rem;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;

}

.hebergement 
{
    padding: 0.375rem;
    height: 565px;
    width: 800px;
    border-radius: 1.25rem;
    padding-right: 27px;
    background-color: #f2f2f2;
}

.firstline
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    margin-left: 1em;
}

.populaire
{
    display: grid;
    position: relative;
    width: 340px;
    height: 578px;
    left: 107%;
    bottom: 96%;
    background-color: #f2f2f2;
    border-radius: 15px;    
}

.firstline figure
{
    width: 222px;
    background-color: white;
    border-radius: 1em;
    height: 170px;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    cursor: pointer;
    box-shadow: 0 0 16px #0000002e;
}

.etoilehebergement:hover
{
    transform: scale(1.02);
}

.firstline h3
{
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 5px;
    margin-bottom: 3px;
}

.firstline ul 
{ 
    margin-top: 7px;
}

.hebergement ul
{
    list-style-type: none;
}

.contenuhebergement p 
{
    margin-left: 0;
    font-size: 13px;
}

.populaire h2
{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 21px;
}

.contenuhebergement ul 
{
    display: inline-flex;
    margin-left: 7px;
    font-size: 14px;
}

.contenuhebergement li
{
    margin-left: 2px;
}

.hebergement h2
{
    margin-left: 22px;
    font-size: 20px;
    margin: 21px;
}

#afficher
{
    font-size: 16px;
    padding-left: 7px;
    font-weight: bold;
}

.lespopulaires
{
    margin-left: 25px;
    margin-bottom: 19px;
    width: 286px;
    height: 130px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 16px #0000002e;
    border-radius: 1em;

    
}

.lespopulaires h3
{
    font-size: 15px;
    margin-bottom: 7px;
}

.contenulespopulaires
{
    display: flex;
    height: 145px;
}


.populaire img
{
    border-radius: 1rem 0 0 1rem;
    max-height: 100%;
    max-width: 100%;
    width: 111px;
    height: 118px;
    object-fit: cover;
    padding-top: 6px;
    padding-left: 6px;
}

#img
{
    width: 139px;
}

article
{
    display: block;
}

.etoilehebergement[data-active="true"]
{
    color: #0065FC;
} 

.etoilehebergement[data-active="false"]
{
    color: #d9d9d9;
}

.captionpopulaires
{
    flex-direction: column;
    margin-left: 5px;
}

.lespopulaires:hover
{
    transform: scale(1.02);
}

.populaire ul 
{
    margin-left: 0;
}

.populaire p
{
    margin-bottom: 31px;
}

/* ACTIVITE */

#activite
{
    display: grid;
    margin-top: 27px;
}

#activite h2
{
    font-size: 20px;
    margin-bottom: 3px;
}

#activite figure
{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    width: 287px; 
    cursor: pointer;
    margin-right: 0;
}

.activite
{
    display: grid;
    grid-template-columns: 288px 288px 288px 288px;
    grid-gap: 22px;
    margin-left: -4px;
}

.activite h3
{
    font-size: 17px;
    padding-left: 18px;
}

.activite figure
{
    margin-left: 0;
}

.activite img
{
    height: 88%;
    width: 100%;
    object-fit: cover;
}

.columnac img
{
    width: 100%;
    object-fit: cover;
    height: 70%;
}

.columnac h3
{
    margin-bottom: 2px;
}

.un
{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.deux 
{
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    height: 230px;
}

.deux img
{
    height: 77%;
}

.trois
{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 152px;
    margin-bottom: 0;
    margin-top: 35px;
}

.trois h3
{
    margin-top: 13px;
}


.quatre
{
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    height: 460px;
}

.cinq
{
    grid-column: 4;
    grid-row: 1;
    height: 175px;
    margin-bottom: 28px;
}

.six
{
    grid-column: 4;
    grid-row: 1;
    height: 208px;
    margin-bottom: 0;
    margin-top: 20px;
    position: relative;
    bottom: -5px;
}

.six img 
{
    height: 75%;
}

.grande
{
    height: 418px;
}

footer
{
    background-color: #f2f2f2;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

footer li
{
    font-size: 15px;
    list-style-type: none;
    margin: 0;
}

footer h3
{
    font-size: 16px;
    margin-left: 16px;
}

#conteneurf
{
    display: flex;
    padding: 34px;
}

.sfooter 
{
    margin-right: 205px;
}

.lienfooter:any-link
{
    text-decoration: none;
    color: black;
}

.lienfooter:hover 
{
    text-decoration: underline;
}

/* Responsive */

@media all and (max-width: 440px) {
    .header {
        display: grid;
        width: 95%;
        grid-template-rows: 59px 59px 2px;
        grid-template-columns: 45%; 
    }

    .nav {
        grid-template-columns: 54% 54%;
        width: 13em;
    }

    nav ul {
        padding-left: 13px;
    }

    .signup {
        padding-left: 50%;
    }
    

}

@media all and (max-width: 520px) 

{
    .header {
        display: grid;
        grid-template-rows: 59px 59px 2px;
        grid-template-columns: 50%; 
    } 
    
    main {
        margin-left: 0;
    }

    .blueline {
        grid-row: 3;
        background-color: #0065FC;
    }

    .greyline {
        grid-row: 3;
        grid-column: 2;
        background-color: #f2f2f2;
    }

    .logo {
        padding: 0;
        margin: 8px 24px 10px 24px;
    }

    .logo img {
        padding: 0;
        width: 56%;
    }

    .nav {
        display: grid;
        grid-template-columns: 78% 77%;
        width: 22em;
        grid-row: 2;
        grid-column: 1;
    }
    
    nav ul {
        width: 200%;
        padding-left: 52px;
    }

    nav li {
        width: 50%;

    }
    
    #mapmarker {
        display: flex;
        padding: 12px 12px;
        flex-direction: column-reverse;
        align-items: center;
        padding-left: 15px;
        
    }

    .form {
        display: flex;
        margin: 15px 14px 38px 15px;
    }
    
    .search {
        width: 185px;
        height: 42px;
    }
    
    .recherche {
        width: 42px;
        height: 41px;
        border-radius: 14px;
        padding: 4px;
    }

    .buttonRecherche {
        display: none;
    }

    #searchbutton {
        display: flex;
        padding-left: 9px;
    }

    #filtres h2 {
        line-height: 0;
        float: none;
    }

    .signup {
        grid-row: 1;
        grid-column: 2;
        align-items: center;
        padding-left: 58%;
    }

    .lienheader {
        margin-left: 7%;
    }
    
    main h1 {
        font-size: 19px;
        margin: 21px 33px 15px 17px;
    }
    
    .info {
        margin: 1em 0 1em 0;
    }

    .info div 
    {
        height: 40px;
        width: 40px;
        margin: 8px;    
    }

    .information {
        font-size: 14px;
        margin-left: 0;
    }

    .paragraphe {
        margin-left: 17px;
        font-size: 14px;
    }
    
    .diffilters {
        height: 44px;
        width: fit-content;
        font-size: 13px;
        margin-right: 19px;
        margin-top: 13px;
    }

    .diffilters i {
        padding: 9px;
        height: 28px;
        margin: -11px;
        min-width: 28px;
    }

    .filtres {
        flex-wrap: wrap;
        margin-left: 8px;
    }
    
    .filtres p {
        padding-left: 8px;
    }

    #filtres {
        margin-left: 11px;
    }

    .hebergement {
        background-color: white;
        height: unset;
        padding-left: 0;
    }

    .firstline {
        grid-template-columns: 0%;
        margin-left: 22px;
        width: 100%;
    }

    .firstline figure {
        width: 21rem;
        margin-bottom: -16px;
        height: 151px;
    }

    .populaire { 
        display: grid;
        width: 100%;
        height: 540px;
        left: 0;
        bottom: 0;
        grid-row: 1;
        border-radius: 0;
        
    }

    #img {
        width: 40%;
    }

    .lespopulaires p {
        font-size: 13px;
    }

    .contenuhebergement ul { 
        font-size: 12px;
    }

    .populaire img {
        height: 83%;
        width: 40%;
    }

    .lespopulaires {
        width: 92%;
        height: 133px;
        margin-left: 15px;
    }

    .contenuhebergement h2 {
        font-size: 18px;
    }
    
    #afficher {
        padding-left: 0%;
    }

    #activite {
        display: flex;
        flex-direction: column;
        margin-left: 19px;
    }

    #activite figure {
        height: 158px;
        margin: 21px 0px;
        width: 100%;
    }

    .activite {
        display: block;
    }
    
    .activite img {
        height: 69%;
    }

    #conteneurf {
        display: block;
        margin-top: 40px;
        font-size: 9px;
    }

    .hebergement {
        display: grid;
        width: 100%;
        background-color: white;
        height: unset;
        padding-left: 0;
    }
    
    .lespopulaires h3 {
        font-size: 15px;
    }
    .firstline h3 { 
        font-size: 14px;
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .firstline p { 
        font-size: 12px;
        margin-bottom: -4px;
    }

    footer li {
        width: 212px;
    }

    footer h3 { 
        margin-left: 10px;
    }

    .sfooter {
        margin-right: 0;
    }
}

@media all and (min-width: 521px) and (max-width: 720px) {
    .header {
        display: grid;
        grid-template-columns: 164px 158px 220px 176px;
    }

    .signup {
        margin-left: 18%;
    }

    main h1 {
        font-size: 30px;
    }

    .filtres {
        flex-wrap: wrap;
    }

    .lespopulaires {
        width: 92%;
    }

    .lespopulaires img {
        width: 37%;
    }

    #img {
        width: 37%;
    }

    .hebergement {
        display: grid;
        background-color: white;
        width: 100%;
    }

    .populaire {
        display: grid;
        position: inherit;
        left: 0;
        bottom: 0;
        grid-row: 1;
        width: 99%;

    }

    .firstline {
        grid-template-columns: repeat(2,0fr);
    }

    .activite {
        display: grid;
        margin-bottom: 12%;
        grid-template-columns: repeat(2,324px);
        grid-template-rows: repeat(3, 214px);
        grid-gap: 16px;
    }

    #activite {
        display: block;
        margin-top: 50em;
    }

    #activite img {
        height: 77%;
    }

    .activite figure {
        height: 89%;
    }

    .un {
        grid-row: 1;
        grid-column: 1;
    }

    .grande {
        height: unset;
    }

    .columnac {
        display: contents;
    }

    .deux {
        grid-row: 1;
        grid-column: 2;
    }

    .trois {
        grid-row: 2;
        grid-column: 2;
        margin-top: 18px;
    }

    .quatre {
        grid-row: 2;
        grid-column: 1;
    }

    .cinq {
        grid-row: 3;
        grid-column: 1;
    }

    .six {
        grid-row: 3;
        grid-column: 2;
        margin-top: 10px;
    }

    .sfooter {
        margin-right: 12%;
    }

}

 
@media all and (min-width: 721px) and (max-width: 1024px) {
     
    .header {
        grid-template-columns: 11em 8em 15em 11em;
    }

    main h1 {
        font-size: 31px;
    }

    .signup {
        margin-left: 79px;
    }

    .paragraphe {
        font-size: 18px;
        line-height: 9px;
        margin-left: 2px;
    }

    .filtres {
        flex-wrap: wrap;
    }

    .information {
        font-size: 18px;
    }

    .contenuhebergement {
        display: grid;
        grid-template-rows: 85Em 57em;
    }

    .firstline {
        grid-template-columns: repeat(2,47%);
        margin-left: 9px;
    }
    
    .grande img {
        height: 75%;
    }
    .hebergement {
        display: grid;
        height: 58%;
        width: 52%;
        background-color: white;

    }

    #afficher {
        font-size: 20px;
        margin-left: 14px;
        margin-bottom: 9px;
    }

    .hebergement figure {
        width: 286px;
        height: 175px;
        margin-left: 13px;
    }

    .hebergement h2 {
        font-size: 25px;
    }

    .populaire {
        position: unset;
        grid-row: 1;
        width: 100%;
    }

    .lespopulaires {
        width: 91%;
        height: 91%;
    }

    .populaire img {
        width: 40%;
        height: 97%;
    }

    #img {
        width: 41%;
    }

    .contenuhebergement h3 {
        font-size: 19px;
    }

    .activite {
        display: grid;
        grid-template-columns: 322px 322px;
        grid-gap: 27px;
        grid-template-rows: repeat(3,228px);
    }

    #activite figure {
        height: 100%;
    }
    
    #activite { 
        display: block;
        margin-left: 12px;
        margin-top: 4em;
    }

    .columnac {
        display: contents;
    }

    .un {
        grid-row: 1;
        grid-column: 1;
    }

    .deux {
        grid-column: 2;
        grid-row: 1;
    }
    .trois {
        grid-row: 2;
        margin: 15px 0 0 0;
    }

    .trois h3 {
        padding-top: 10px;
    }

    .quatre {
        grid-row: 2;
        grid-column: 1;
    }

    .cinq {
        grid-row: 3;
        grid-column: 1;
    }

    .six {
        grid-row: 3;
        grid-column: 2;
        margin: 12px 0 0 0;

    }

    .marseille {
        margin-top: 25px;
        background-color: #f2f2f2;
        border-radius: 1em;
        width: 684px;
        height: 98%;
    }

    .sfooter {
        margin-right: 121px;
    }
=======
body
{
    margin: inherit;
    padding: inherit;
}

main,
p,
a,
ul,
li 
{
  margin: 0;
  margin-left: 1em;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.header
{ 
    display: grid;
    grid-template-columns: 180px 700px 225px 108px;
    grid-auto-rows: minmax(100px, auto);
}
.logo
{
    padding: 12px;
}

.logo img
{
    order: 0;
    padding-top: 12px;
}

nav
{
    display: grid;
    grid-template-columns: 136px 88px;
    grid-column: 3;
    margin-top: 0px; 
    align-items: center;
    order: 1;
    
}

nav ul
{
    display: flex;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

nav li 
{
    margin: 0;
}

.lienheader:hover
{
    display: none;
}
    
.greyline 
{
    display: none;
}

.lienheader:hover
{
    border-top: #0065FC solid 4px;
    padding-top: 48px;
}

.lienheader[data-active="true"]
{
    color: #0065FC;
}

.lienheader[data-active="false"]
{
    color: black;
}

.lienheader

{
    text-decoration: none;
}

.signup
{
    
    display: flex;
    align-items: center;
    order: 2;
    color: #0065FC;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

main h1
{
    font-size: 25px;
}

/* Recherche */

.paragraphe
{ 
    line-height: 1px
}

.search
{
    height: 51px;
    width: 210px;
    padding-left: 13px;
    border: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.fa-map-marker-alt 
{
    padding: 16.5px 19px;
    width: 20px;
    background-color: #e5e2e267;
    border: 1px solid #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#searchbutton 
{
    display: none;
}

.recherche
{
    height: 49.5px;
    width: 110px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065fc;
    color: white;
    font-size: 16px;
    font-weight: 700;

}

.recherche:hover
{
    color: #0065fc;
    background-color: #deebff;
    border: 1px solid #0065fc;
    cursor: pointer;
}

.filtres
{
    display: flex;
    justify-content: flex-start;
    
}

#filtres h2
{
    display: flex;
    float: left;
    margin-right: 3%;
    line-height: 3;
    font-size: 1.2rem;
    width: 60px;
}

.diffilters
{
    display:flex;
    align-items: center;
    height:50px;
    font-size: 15px;
    font-weight:bolder;
    border-radius: 25px;
    border:2px solid #ccc;
    cursor: pointer;
    padding-right: 17px;
    margin-top: 30px;
    margin-right: 25px;
    
}

.diffilters i 
{
  display:flex;
  color: #0065fc;
  background-color: #DEEBFF;
  padding: 15px 11px;
  border-radius: 100%;
  height: 1.5rem;
  min-width: 2.2rem;
  align-items: center;
  justify-content: center;
  margin-left: -4px;
}

.buttonRecherche
{
    font-family: 'Raleway', sans-serif;
}

.information
{
    display: flex;
    width: 92%;
    margin-left: 10px;
}

.info
{
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}

.info div
{
    display: flex;
}
.icone
{
    padding: 10px 15px;
    border: solid 2px #f2f2f2;
    border-radius: 100%;
    color: #0065FC
}

/* herbergement */ 


main
{
    margin-left: 2em;
}

main figure:hover
{
    transform: scale(1.02);
}

.firstline figure 
{
    width: 100%;
    height: auto;
    background-color:var(--lightBlue);
    justify-content: center;
    padding-bottom:20px; 
}

.firstline figcaption
{
    margin-left: 10px; 
}

.firstline img
{
    height: 7rem;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;

}

.hebergement 
{
    padding: 0.375rem;
    height: 565px;
    width: 800px;
    border-radius: 1.25rem;
    padding-right: 27px;
    background-color: #f2f2f2;
}

.firstline
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    margin-left: 1em;
}

.populaire
{
    display: grid;
    position: relative;
    width: 340px;
    height: 578px;
    left: 107%;
    bottom: 96%;
    background-color: #f2f2f2;
    border-radius: 15px;    
}

.firstline figure
{
    width: 222px;
    background-color: white;
    border-radius: 1em;
    height: 170px;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    cursor: pointer;
    box-shadow: 0 0 16px #0000002e;
}

.etoilehebergement:hover
{
    transform: scale(1.02);
}

.firstline h3
{
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 5px;
    margin-bottom: 3px;
}

.firstline ul 
{ 
    margin-top: 7px;
}

.hebergement ul
{
    list-style-type: none;
}

.contenuhebergement p 
{
    margin-left: 0;
    font-size: 13px;
}

.populaire h2
{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 21px;
}

.contenuhebergement ul 
{
    display: inline-flex;
    margin-left: 7px;
    font-size: 14px;
}

.contenuhebergement li
{
    margin-left: 2px;
}

.hebergement h2
{
    margin-left: 22px;
    font-size: 20px;
    margin: 21px;
}

#afficher
{
    font-size: 16px;
    padding-left: 7px;
    font-weight: bold;
}

.lespopulaires
{
    margin-left: 25px;
    margin-bottom: 19px;
    width: 286px;
    height: 130px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 16px #0000002e;
    border-radius: 1em;

    
}

.lespopulaires h3
{
    font-size: 15px;
    margin-bottom: 7px;
}

.contenulespopulaires
{
    display: flex;
    height: 145px;
}


.populaire img
{
    border-radius: 1rem 0 0 1rem;
    max-height: 100%;
    max-width: 100%;
    width: 111px;
    height: 118px;
    object-fit: cover;
    padding-top: 6px;
    padding-left: 6px;
}

#img
{
    width: 139px;
}

article
{
    display: block;
}

.etoilehebergement[data-active="true"]
{
    color: #0065FC;
} 

.etoilehebergement[data-active="false"]
{
    color: #d9d9d9;
}

.captionpopulaires
{
    flex-direction: column;
    margin-left: 5px;
}

.lespopulaires:hover
{
    transform: scale(1.02);
}

.populaire ul 
{
    margin-left: 0;
}

.populaire p
{
    margin-bottom: 31px;
}

/* ACTIVITE */

#activite
{
    display: grid;
    margin-top: 27px;
}

#activite h2
{
    font-size: 20px;
    margin-bottom: 3px;
}

#activite figure
{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    width: 287px; 
    cursor: pointer;
    margin-right: 0;
}

.activite
{
    display: grid;
    grid-template-columns: 288px 288px 288px 288px;
    grid-gap: 22px;
    margin-left: -4px;
}

.activite h3
{
    font-size: 17px;
    padding-left: 18px;
}

.activite figure
{
    margin-left: 0;
}

.activite img
{
    height: 88%;
    width: 100%;
    object-fit: cover;
}

.columnac img
{
    width: 100%;
    object-fit: cover;
    height: 70%;
}

.columnac h3
{
    margin-bottom: 2px;
}

.un
{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.deux 
{
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    height: 230px;
}

.deux img
{
    height: 77%;
}

.trois
{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 152px;
    margin-bottom: 0;
    margin-top: 35px;
}

.trois h3
{
    margin-top: 13px;
}


.quatre
{
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    height: 460px;
}

.cinq
{
    grid-column: 4;
    grid-row: 1;
    height: 175px;
    margin-bottom: 28px;
}

.six
{
    grid-column: 4;
    grid-row: 1;
    height: 208px;
    margin-bottom: 0;
    margin-top: 20px;
    position: relative;
    bottom: -5px;
}

.six img 
{
    height: 75%;
}

.grande
{
    height: 418px;
}

footer
{
    background-color: #f2f2f2;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

footer li
{
    font-size: 15px;
    list-style-type: none;
    margin: 0;
}

footer h3
{
    font-size: 16px;
    margin-left: 16px;
}

#conteneurf
{
    display: flex;
    padding: 34px;
}

.sfooter 
{
    margin-right: 205px;
}

.lienfooter:any-link
{
    text-decoration: none;
    color: black;
}

.lienfooter:hover 
{
    text-decoration: underline;
}

/* Responsive */

@media all and (max-width: 440px) {
    .header {
        display: grid;
        width: 95%;
        grid-template-rows: 59px 59px 2px;
        grid-template-columns: 45%; 
    }

    .nav {
        grid-template-columns: 54% 54%;
        width: 13em;
    }

    nav ul {
        padding-left: 13px;
    }

    .signup {
        padding-left: 50%;
    }
    

}

@media all and (max-width: 520px) 

{
    .header {
        display: grid;
        grid-template-rows: 59px 59px 2px;
        grid-template-columns: 50%; 
    } 
    
    main {
        margin-left: 0;
    }

    .blueline {
        grid-row: 3;
        background-color: #0065FC;
    }

    .greyline {
        grid-row: 3;
        grid-column: 2;
        background-color: #f2f2f2;
    }

    .logo {
        padding: 0;
        margin: 8px 24px 10px 24px;
    }

    .logo img {
        padding: 0;
        width: 56%;
    }

    .nav {
        display: grid;
        grid-template-columns: 78% 77%;
        width: 22em;
        grid-row: 2;
        grid-column: 1;
    }
    
    nav ul {
        width: 200%;
        padding-left: 52px;
    }

    nav li {
        width: 50%;

    }
    
    #mapmarker {
        display: flex;
        padding: 12px 12px;
        flex-direction: column-reverse;
        align-items: center;
        padding-left: 15px;
        
    }

    .form {
        display: flex;
        margin: 15px 14px 38px 15px;
    }
    
    .search {
        width: 185px;
        height: 42px;
    }
    
    .recherche {
        width: 42px;
        height: 41px;
        border-radius: 14px;
        padding: 4px;
    }

    .buttonRecherche {
        display: none;
    }

    #searchbutton {
        display: flex;
        padding-left: 9px;
    }

    #filtres h2 {
        line-height: 0;
        float: none;
    }

    .signup {
        grid-row: 1;
        grid-column: 2;
        align-items: center;
        padding-left: 58%;
    }

    .lienheader {
        margin-left: 7%;
    }
    
    main h1 {
        font-size: 19px;
        margin: 21px 33px 15px 17px;
    }
    
    .info {
        margin: 1em 0 1em 0;
    }

    .info div 
    {
        height: 40px;
        width: 40px;
        margin: 8px;    
    }

    .information {
        font-size: 14px;
        margin-left: 0;
    }

    .paragraphe {
        margin-left: 17px;
        font-size: 14px;
    }
    
    .diffilters {
        height: 44px;
        width: fit-content;
        font-size: 13px;
        margin-right: 19px;
        margin-top: 13px;
    }

    .diffilters i {
        padding: 9px;
        height: 28px;
        margin: -11px;
        min-width: 28px;
    }

    .filtres {
        flex-wrap: wrap;
        margin-left: 8px;
    }
    
    .filtres p {
        padding-left: 8px;
    }

    #filtres {
        margin-left: 11px;
    }

    .hebergement {
        background-color: white;
        height: unset;
        padding-left: 0;
    }

    .firstline {
        grid-template-columns: 0%;
        margin-left: 22px;
        width: 100%;
    }

    .firstline figure {
        width: 21rem;
        margin-bottom: -16px;
        height: 151px;
    }

    .populaire { 
        display: grid;
        width: 100%;
        height: 540px;
        left: 0;
        bottom: 0;
        grid-row: 1;
        border-radius: 0;
        
    }

    #img {
        width: 40%;
    }

    .lespopulaires p {
        font-size: 13px;
    }

    .contenuhebergement ul { 
        font-size: 12px;
    }

    .populaire img {
        height: 83%;
        width: 40%;
    }

    .lespopulaires {
        width: 92%;
        height: 133px;
        margin-left: 15px;
    }

    .contenuhebergement h2 {
        font-size: 18px;
    }
    
    #afficher {
        padding-left: 0%;
    }

    #activite {
        display: flex;
        flex-direction: column;
        margin-left: 19px;
    }

    #activite figure {
        height: 158px;
        margin: 21px 0px;
        width: 100%;
    }

    .activite {
        display: block;
    }
    
    .activite img {
        height: 69%;
    }

    #conteneurf {
        display: block;
        margin-top: 40px;
        font-size: 9px;
    }

    .hebergement {
        display: grid;
        width: 100%;
        background-color: white;
        height: unset;
        padding-left: 0;
    }
    
    .lespopulaires h3 {
        font-size: 15px;
    }
    .firstline h3 { 
        font-size: 14px;
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .firstline p { 
        font-size: 12px;
        margin-bottom: -4px;
    }

    footer li {
        width: 212px;
    }

    footer h3 { 
        margin-left: 10px;
    }

    .sfooter {
        margin-right: 0;
    }
}

@media all and (min-width: 521px) and (max-width: 720px) {
    .header {
        display: grid;
        grid-template-columns: 164px 158px 220px 176px;
    }

    .signup {
        margin-left: 18%;
    }

    main h1 {
        font-size: 30px;
    }

    .filtres {
        flex-wrap: wrap;
    }

    .lespopulaires {
        width: 92%;
    }

    .lespopulaires img {
        width: 37%;
    }

    #img {
        width: 37%;
    }

    .hebergement {
        display: grid;
        background-color: white;
        width: 100%;
    }

    .populaire {
        display: grid;
        position: inherit;
        left: 0;
        bottom: 0;
        grid-row: 1;
        width: 99%;

    }

    .firstline {
        grid-template-columns: repeat(2,0fr);
    }

    .activite {
        display: grid;
        margin-bottom: 12%;
        grid-template-columns: repeat(2,324px);
        grid-template-rows: repeat(3, 214px);
        grid-gap: 16px;
    }

    #activite {
        display: block;
        margin-top: 50em;
    }

    #activite img {
        height: 77%;
    }

    .activite figure {
        height: 89%;
    }

    .un {
        grid-row: 1;
        grid-column: 1;
    }

    .grande {
        height: unset;
    }

    .columnac {
        display: contents;
    }

    .deux {
        grid-row: 1;
        grid-column: 2;
    }

    .trois {
        grid-row: 2;
        grid-column: 2;
        margin-top: 18px;
    }

    .quatre {
        grid-row: 2;
        grid-column: 1;
    }

    .cinq {
        grid-row: 3;
        grid-column: 1;
    }

    .six {
        grid-row: 3;
        grid-column: 2;
        margin-top: 10px;
    }

    .sfooter {
        margin-right: 12%;
    }

}

 
@media all and (min-width: 721px) and (max-width: 1024px) {
     
    .header {
        grid-template-columns: 11em 8em 15em 11em;
    }

    main h1 {
        font-size: 31px;
    }

    .signup {
        margin-left: 79px;
    }

    .paragraphe {
        font-size: 18px;
        line-height: 9px;
        margin-left: 2px;
    }

    .filtres {
        flex-wrap: wrap;
    }

    .information {
        font-size: 18px;
    }

    .contenuhebergement {
        display: grid;
        grid-template-rows: 85Em 57em;
    }

    .firstline {
        grid-template-columns: repeat(2,47%);
        margin-left: 9px;
    }
    
    .grande img {
        height: 75%;
    }
    .hebergement {
        display: grid;
        height: 58%;
        width: 52%;
        background-color: white;

    }

    #afficher {
        font-size: 20px;
        margin-left: 14px;
        margin-bottom: 9px;
    }

    .hebergement figure {
        width: 286px;
        height: 175px;
        margin-left: 13px;
    }

    .hebergement h2 {
        font-size: 25px;
    }

    .populaire {
        position: unset;
        grid-row: 1;
        width: 100%;
    }

    .lespopulaires {
        width: 91%;
        height: 91%;
    }

    .populaire img {
        width: 40%;
        height: 97%;
    }

    #img {
        width: 41%;
    }

    .contenuhebergement h3 {
        font-size: 19px;
    }

    .activite {
        display: grid;
        grid-template-columns: 322px 322px;
        grid-gap: 27px;
        grid-template-rows: repeat(3,228px);
    }

    #activite figure {
        height: 100%;
    }
    
    #activite { 
        display: block;
        margin-left: 12px;
        margin-top: 4em;
    }

    .columnac {
        display: contents;
    }

    .un {
        grid-row: 1;
        grid-column: 1;
    }

    .deux {
        grid-column: 2;
        grid-row: 1;
    }
    .trois {
        grid-row: 2;
        margin: 15px 0 0 0;
    }

    .trois h3 {
        padding-top: 10px;
    }

    .quatre {
        grid-row: 2;
        grid-column: 1;
    }

    .cinq {
        grid-row: 3;
        grid-column: 1;
    }

    .six {
        grid-row: 3;
        grid-column: 2;
        margin: 12px 0 0 0;

    }

    .marseille {
        margin-top: 25px;
        background-color: #f2f2f2;
        border-radius: 1em;
        width: 684px;
        height: 98%;
    }

    .sfooter {
        margin-right: 121px;
    }
>>>>>>> 0f93766d39c2193880d2db7d3337f29093161e5d
}